:root {
	--background: 220, 10%;
	--border: 1px solid hsl(220, 5%, 40%);
	--color: 220, 2%;
	--shadow: 220, 5%;

	--accent: 300, 30%, 30%;
	
	--layer0: 12%;
	--layer1: 16%;
	--layer2: 20%;
	--layer3: 24%;
	--layer4: 28%;
}

*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-family: "Roboto", sans-serif;
}

body {
	box-sizing: border-box;
	background-color: hsl(var(--background),
						var(--layer0));
	accent-color: hsl(var(--accent));
}